body {
    background-color #fff;
    color: 000;
    font-family: Garamond;

    background: rgba(1, 47, 90, 1);
    background: -moz-linear-gradient(left, rgba(1, 47, 90, 1) 0%, rgba(50, 136, 179, 1) 18%, rgba(50, 136, 179, 1) 82%, rgba(1, 47, 90, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 47, 90, 1)), color-stop(18%, rgba(50, 136, 179, 1)), color-stop(82%, rgba(50, 136, 179, 1)), color-stop(100%, rgba(1, 47, 90, 1)));
    background: -webkit-linear-gradient(left, rgba(1, 47, 90, 1) 0%, rgba(50, 136, 179, 1) 18%, rgba(50, 136, 179, 1) 82%, rgba(1, 47, 90, 1) 100%);
    background: -o-linear-gradient(left, rgba(1, 47, 90, 1) 0%, rgba(50, 136, 179, 1) 18%, rgba(50, 136, 179, 1) 82%, rgba(1, 47, 90, 1) 100%);
    background: -ms-linear-gradient(left, rgba(1, 47, 90, 1) 0%, rgba(50, 136, 179, 1) 18%, rgba(50, 136, 179, 1) 82%, rgba(1, 47, 90, 1) 100%);
    background: linear-gradient(to right, rgba(1, 47, 90, 1) 0%, rgba(50, 136, 179, 1) 18%, rgba(50, 136, 179, 1) 82%, rgba(1, 47, 90, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#012f5a', endColorstr='#012f5a', GradientType=1);
}

body, html {
    height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

h2 {
    font-family: Garamond;
    font-size: 30px;
}

h3 {
    font-family: Garamond;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

a {
    color: #2c83b0;
}

p {
    line-height: 1.4;
}

/* WRAPPER STYLE */

.wrapper {
    margin: 0 auto;
    width: 960px;
    height: auto;
    min-height: 100%;
    background-color: #000;
    margin-bottom: 100px;
    overflow: hidden;
}

/* HEADER */

header {
    width: a960px;
    height: 110px;
    float: left;
    background: linear-gradient(to right, rgba(17, 18, 19, 1), rgba(17, 18, 19, 1), rgba(17, 18, 19, 0.77));
    color: #fff;
}

.logo {
    width: 399px;
    height: 58px;
    padding: 33px 0 0 20px;
    float: left;
}

.header-search {
    width: auto;
    float: right;
    height: auto;
    padding: 20px 20px 30px 0;
    font-size: 10px;
}

.search-container {
    width: 125px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search-container input#search {
    width: 125px;
    height: 18px;
    background: #fff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}

.search-container input#search::-webkit-input-placeholder {
    color: #65737e;
}

.search-container input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.search-container input#search::-moz-placeholder { /* Firefox 19+ */
    color: #65737e;
}

.search-container input#search:-ms-input-placeholder {
    color: #65737e;
}

.search-container .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

nav {
    width: 540px;
    float: right;
    font-size: 12px;
    font-family: Garamond;
    font-weight: 800;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

/* SLIDER */

.top-slider {
    height: 360px;
    width: 100%;
    float: left;
    background-color: #000;
}

figure {
    margin: 0;
    background: #101010;
    font-family: Arial;
    font-weight: 100;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}

/* BOX WITH QUOTE AND SOCIAL */

.box-text-social {
    width: 100%;
    height: 150px;
    background-color: #111213;
    float: left;
}

.box-text h2 {
    width: 620px;
    height: auto;
    padding: 43px 0 0 30px;
    color: #a3a3a3;
    margin: 0px;
    float: left;
    font-weight: normal;
}

.box-social {
    width: 290px;
    height: auto;
    float: right;
    padding: 60px 20px 0 0;
    text-align: right;
}

/* CONTENT */

.content {
    width: 960px;
    height: auto;
    float: left;
    text-align: left;
    font-family: Georgia;
    font-size: 13px;
    background-color: #fff;
}

/* POSTS - ARTICLE */

article {
    width: 700px;
    float: left;
}

.post {
    margin: 0 60px 0px 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    overflow: auto;
    border-bottom: 2px solid #fafafa;
}

.post .img {
    float: left;
    width: auto;
    margin-right: 30px;
    padding: 5px;
    background-color: #e9e9e9;
}

.post .text {
    width: auto;
    font-family: Georgia;
    font-size: 13px;
}

.post .text h1 {
    margin: 0;
    color: #303030;
}

.post .text .date {
    margin: 0;
    color: #77a7c6;
    font-size: 10px;
}

.post button {
    width: 140px;
    height: 25px;
    font-family: "Helvetica Neue";
    font-size: 11px;
    border-right: solid 1px #c2cfd6;
    border-top: solid 1px #c2cfd6;
    border-left: 0px;
    border-bottom: solid 1px #272727;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background: rgb(109, 179, 242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109, 179, 242, 1) 0%, rgba(84, 163, 238, 1) 50%, rgba(54, 144, 240, 1) 51%, rgba(30, 105, 222, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109, 179, 242, 1) 0%, rgba(84, 163, 238, 1) 50%, rgba(54, 144, 240, 1) 51%, rgba(30, 105, 222, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109, 179, 242, 1) 0%, rgba(84, 163, 238, 1) 50%, rgba(54, 144, 240, 1) 51%, rgba(30, 105, 222, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0); /* IE6-9 */
}

.news {
    padding-bottom: 30px;
}

/* PAGINATION */

.pagination li {
    display: inline-block;
    background-color: #eeeeee;
}

.pagination {
    float: left;
    clear: both;
    padding: 40px 0 0 30px;
}

.pagination li a,
.pagination li.counter {
    color: #666;
    font-size: .8rem;
    padding: 4px 10px;
    float: left;
    transition: background-color .5s;
    margin: 0 2px;
}

.pagination li a.active {
    background-color: #c1c1c1;
    color: white;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #c1c1c1;
    color: white;
    text-decoration: none;
}

/* SIDEBAR */

.sidebar {
    float: right;
    right: 0;
    top: 0;
    width: 228px;
    padding: 30px 0px 50px 25px;
    background: linear-gradient(-15deg, transparent 10%, #e7e7e7 99%, #e7e7e7);
}

.sidebar ul li {
    padding-bottom: 5px;
}

.sidebar li {
    float: none;
}

/* SPONSORS */

.sponsors {
    float: left;
    padding: 20px 20px 25px 30px;
    background-color: #fff;
    width: 100%;
    height: auto;
    min-height: 100px;
}

.sponserpics {
    width: 895px;
    margin: 0px;
    float: left;
}

.sponsorpic {
    height: 75px;
    width: 130px;
    border: 5px solid #f5f5ef;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.sponsorpic img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* FOOTER */

footer {
    float: left;
    width: 960px;
    height: 395px;
    background-color: #0f0f0f;
    font-size: 13px;
}

footer h3 {
    color: #fff;
    padding-bottom: 20px;
}

footer p {
    padding: 0 0 0 0;
    margin-top: 0px;
}

footer a {
    color: #6f6e6e;
}

footer .footer-social {
    padding: 25px 0 0 0;
}

footer p {
    font-family: Georgia;
    font-size: 13px;
    color: #6f6e6e;
    line-height: 18px;
}

footer .about {
    width: 29%;
    float: left;
    padding: 25px 20px 0 30px;
}

footer .flickr {
    width: 28%;
    float: left;
    padding: 25px 15px 0 30px;
}

.flickr li {
    border: solid 1px #333333;
    margin: 5px 10px 5px 0;
}

footer .contact {
    width: 27%;
    float: left;
    padding: 25px 20px 0 30px;
}

footer .contact li {
    float: none;
    padding-bottom: 5px;
    color: #6f6e6e;
}
